version: "3.9"
services:
  gumo:
    build: .
    image: gumo:latest
    container_name: gumo
    environment:
      GUMO_BOT_TOKEN: "BOT_TOKEN_HERE"
      GUMO_BOT_GOOGLE_API_SA_FILE: /path/to/the/service/account/file.json
      GUMO_BOT_DB_FILE: /path/to/database.db
      # GUMO_LOG_LEVEL: "INFO"
